* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edf1f4;
}
.calculator {
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 2rem rgba(0,0,0,.2);
}
.calculator .buttons {
    position: relative;
    display: grid;
}
.calculator .buttons #value {
    position: relative;
    grid-column: span 4;
    user-select: none;
    overflow: none;
    width: 100%;
    text-align: end;
    color: #5166d6;
    height: 100px;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.1),inset -5px -5px 20px #fff;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 2em;
    font-weight: 500;
}
.calculator .buttons span {
    position: relative;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1), -5px -5px 20px #fff;
    margin: 8px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #666;
    border: 2px solid #edf1f4;
    border-radius: 10px;
}
.calculator .buttons span#clear {
    grid-column: span 2;
    background: #f44336;
    color: #fff;
    border: 2px solid #edf1f4;
}
.calculator .buttons span#plus {
    grid-row: span 2;
    background: #31a935;
    color: #fff;
    border: 2px solid #edf1f4;
}
.calculator .buttons span#equl {
    background: #2196f3;
    color: #fff;
    border: 2px solid #edf1f4;
}
.toggleBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #31a935;
    cursor: pointer;
}

/* dark mode  */
.dark {
    background: #222;
}
.dark .calculator {
    background: #333;
}
.dark .calculator span {
    color: #fff;
    box-shadow: 0px 0px 5px white;
}
.dark .calculator .buttons #value {
    box-shadow: inset 0px 0px 8px white;
}


